* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 50px;
  left: 90px;
}

.logo a {
  text-decoration: none;
  color: #2f2e41;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  letter-spacing: 1;
}

.searchArea {
  position: fixed;
  top: 50px;
  right: 90px;
  height: 45px;
  width: 170px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(167, 158, 245, 0.1);
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
}

.searchBox input {
  border: none;
  outline: none;
  width: 90px;
  height: 20px;
  color: #1f1f1f;
  background-color: transparent;
  font-size: 1rem;
  padding: 0px 10px;
}

.searchBox input::placeholder {
  font-size: 0.8rem;
  font-family: poppins;
  font-weight: 400;
  letter-spacing: 2px;
  color: #1d1d1d;
}

.section1 {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-15%, -50%);
}

.section1 img {
  height: 300px;
}

.sectionButton {
  position: absolute;
  bottom: 38%;
  right: 7%;
}

.sectionButton h1,
h2 {
  font-size: 4rem;
  color: #3e3d4e;
  line-height: 50px;
  margin: 10px;
  font-weight: 200px;
}

.sectionButton h1 {
  letter-spacing: 25px;
}

.sectionButton span {
  color: #7a72ff;
}

.sectionButton .btn {
  margin-top: 10px;
  margin-left: 15px;
  background-color: #2f2e41;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  height: 40px;
  width: 150px;
  font-family: calibri;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  border: none;
}

.btn:hover {
  color: #ffffff;
  background-color: #6e64ff;
  transition: all ease 0.7s;
}

.iconArea {
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  padding: 5px 0px;
  border-radius: 20px;
  z-index: 1;
}

.iconArea a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  text-decoration: none;
}

.iconArea a i {
  color: rgba(39, 39, 39, 0.8);
}

.iconArea a:hover .fa-facebook-f {
  color: #3b5998;
}

.iconArea a:hover .fa-twitter {
  color: #00acee;
}

.iconArea a:hover .fa-instagram {
  color: #405de6;
}

.iconArea a:hover .fa-youtube {
  color: #ff0000;
}

/* ------------------------------------------------ */

.productSection {
  width: 90%;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  margin-top: -60px;
  position: relative;
  background-size: 1000px;
  border-radius: 10px;
}
.productSection > h3 {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  font-family: myriad pro;
  font-weight: 700;
}

.productSection > h3 > span {
  color: #7a72ff;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.productBox {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 30px;
  border-radius: 8px;
}

.product img {
  height: 180px;
}

.productBox p {
  color: #4d4d4d70;
  font-family: myriad pro;
  font-size: 1rem;
  letter-spacing: 1px;
}

.productBox a {
  text-decoration: none;
  color: #2c2c2c;
  font-family: poppins;
  font-size: 1rem;
}

.BuyBtn {
  color: #ffffff;
  background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
  animation: fade 0.3s;
  display: none;
}

.productBox:hover .BuyBtn {
  display: flex;
}

.productBox:hover {
  color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.about {
  display: flex;
  justify-content: space-between;
}

.aboutbox {
  width: 50%;
  height: 65vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutbox h1 {
  font-size: 50px;
  position: absolute;
  top: 40px;
  left: 170px;
}

.aboutbox h4 {
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 170px;
  width: 500px;
  font-weight: 550;
}

.aboutbox h4 span {
  color: #7a72ff;
}

.aboutbox p {
  position: absolute;
  left: 170px;
  top: 210px;
  width: 500px;
  font-size: 17px;
  font-weight: 500;
  color: rgb(182, 181, 181);
}

.aboutbox img {
  width: 500px;
  position: absolute;
  top: 50px;
  right: 150px;
}

.lastSection {
  width: 100%;
  height: 30vh;
}

.ls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.ls h2 {
  font-size: 23px;
  color: black;
}

.ls input {
  width: 520px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  border: none;
  outline: none;
}

.ls input::placeholder {
  font-size: 15px;
  font-family: poppins;
}

.lsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lsBtn Button {
  position: absolute;
  right: 545px;
  width: 100px;
  height: 40px;
  background: transparent;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
}

.lsBtn Button:hover {
  background-color: #405de6;
  transition: all linear 0.3s;
}

.footer {
  background-color: black !important;
  padding: 20px;
}

.footer p {
  text-align: center;
  color: #f2f2f2;
}

/* --------------------- Finish ---------------- */
